# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
MemoryCaptures/

# VS / Rider / VSCode settings
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# System files
.DS_Store
Thumbs.db

# Unity packages and builds
*.apk
*.aab
*.unitypackage

# Crash logs
sysinfo.txt
